@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
html{
    scroll-behavior: smooth;
}
.navbar{
    background-color: #131313;
    z-index: 1000;
}
.navbar .navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;
}
#navbarSupportedContent .nav-link {
    color: #fff;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}
#navbarSupportedContent .nav-link:hover{
    color: #00bf85;
}
#navbarSupportedContent .nav-link.active{
    color: #00bf85;
}
#navbarSupportedContent > button{
    background-color: #00bf85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
}
.mid{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid video{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mid .hero{
    position: relative;
    width: 800px;
    letter-spacing: 0.2px;
}
.mid .hero p{
    padding-bottom: 1.1rem;
}
.mid .hero a{
    background-color: #00bf85;
    font-weight: 600;
    padding: 0.6rem 1rem;
    border-radius: 30px;
    text-decoration: none;
}
.mid .hero a:hover{
    background-color: #fff;
}
.about {
    background-color: #000;
}
.about h6,
.discovery h6{
    color: #00bf7f;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}
.about h2,
.discovery h2{
    font-weight: 700;
    font-size: 2.7rem;
}
.about h2{
    color: #f7f5f4;
}
.about p,
.discovery p{
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.about p{
    color: #f7f5f4;
}
.about a,
.discovery a{
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
}
.discovery a{
    background-color: #000;
    color: #f7f5f4;
}
.about a{
    background-color: #00bf85;
    color: #111;
}
.services{
    background-color: #000;
}
.services .one{
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: 7px;
}
.contact h6{
    color: #00bf7f;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}
.contact h2{
    font-weight: 700;
    font-size: 2.7rem;
}
.contact a{
    background-color: #000;
    color: #f7f5f4;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
}